body {
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230)
}

.map {
  height: 50%;
  width: 50%;
}

.pin {
  height: 40px;
  position: relative;
  left: -11.46px;
  top: -40px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* #MapWrapper {} */

.hikesList {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  right: 100px;
  background-color: beige;
  width: 400px;
  height: auto;
  /* justify-content: center; */
  text-align: center;
  /* padding: 10px; */
  border: 3px solid black;
  border-radius: 10px;
}

.line {
  height: 2px;
  width: 100%;
  background-color: black;
  margin: 0%;
  padding: 0%;
}

.hikelist {
  list-style: none;
  margin-left: -40px;
}

.innerHikeWrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

li {
  height: 100%;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.landingpage-cont {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: x-large;
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/162/558/original/beautiful-blue-mountain-silhouette-landscape-with-fog-and-sunrise-and-sunset-in-mountains-background-outdoor-and-hiking-concept-good-for-wallpaper-site-banner-cover-poster-free-vector.jpg");
  background-size: cover;
}

.landingpage-cont h1 {
  font-size: 100px;
}