@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(69, 48, 7); */
  background-image: url('https://cdn.pixabay.com/photo/2020/12/21/19/01/trees-5850624_960_720.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Oswald', sans-serif;
}

.map {
  height: 50%;
  width: 50%;
}

.googMap {
  height: 50vh;
  width: 50%;
  border: 20px solid rgba(0, 0, 0, 0.55);
  margin: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.2);
}

.pin {
  height: 40px;
  position: relative;
  left: -11.46px;
  top: -40px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hikesList {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 60px;
  top: 0px;
  margin-top: 80px;
  background-color: beige;
  width: 400px;
  height: auto;
  text-align: center;
  border: 20px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-height: 550px;
  overflow-y: scroll;
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.2);
}

.line {
  height: 2px;
  width: 100%;
  background-color: black;
  margin: 0%;
  padding: 0%;
}

.hikelist {
  list-style: none;
  margin-left: -40px;
}

.innerHikeWrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

li {
  height: 100%;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.landingpage-cont {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: x-large;
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/162/558/original/beautiful-blue-mountain-silhouette-landscape-with-fog-and-sunrise-and-sunset-in-mountains-background-outdoor-and-hiking-concept-good-for-wallpaper-site-banner-cover-poster-free-vector.jpg");
  background-size: cover;
}

.landingpage-cont h1 {
  font-size: 100px;
}

.form {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.dash-header {
  text-align: center;
  font-size: 60px;
}

.category {
  display: flex;
  justify-content: start;
  padding-left: 25px;
}

.form {
  display: grid;
  border-radius: 10px;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(2, auto);
}

.submit-hike {
  width: 55px;
  background-color: lightgreen;
}

.submit-hike:hover {
  background-color: green;
  height: 30px;
  width: 60px;
  transition: 0.7s;
}